/* ヘッダー */
.top-page-header {
  height: 70px;
  background: linear-gradient(blue, skyblue);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 200;
}

.site-logo {
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-family: cursive;
  line-height: 70px;
  margin-left: 40px;
}

.site-logo:hover {
  opacity: 0.75;
}

.header-right-contents {
  float: right;
  text-decoration: none;
  color: #333;
  padding-right: 20px;
}

.menu-btn {
  float: right;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.menu-checkbox {
  display: none;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  z-index: 100;
  border-radius: 3px;
  background: white;
  transition: 0.5s;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-check:checked ~ .menu-btn span {
  background: rgba(255, 255, 255, 0);
}

#menu-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

.menu-login-contents {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 99;
  background: rgba(173, 223, 228, 0.7);
  transition: 0.5s;
  padding-top: 50px;
}

#menu-check:checked ~ .menu-login-contents {
  right: 0%;
}

.menu-login-list {
  padding-top: 15px;
}

.user-nickname, .score-create, .score-all, .score-ranking, .logout {
  color: #333;
  text-decoration: none;
  padding: 20px;
  line-height: 40px;
  font-weight: bold;
}

.user-nickname:hover, 
.score-create:hover, 
.score-all:hover, 
.score-ranking:hover, 
.logout:hover {
  opacity: 0.75;
}

.menu-logout-list {
  display: flex;
  line-height: 70px;
}

.login, .sign-up {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.login:hover, .sign-up:hover {
  opacity: 0.75;
}
/* /ヘッダー */

/* 共通 */
.score-contents, 
.sign-up-form, 
.log-in-form, 
.score-new, 
.score-show, 
.search, 
.list, 
.rank, 
.course-new, 
.score-challenge, 
.user-page {
  padding: 70px 0;
  width: 60%;
  max-width: 600px;
  background-color: white;
  margin: 0 auto;
}

.score-show {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 80px;
  text-align: center;
}

.title-text {
  font-size: 24px;
  color: #333;
  line-height: 80px;
  border-bottom: 2px double skyblue;
  font-weight: bold;
}

.sub-title {
  width: 50%;
  height: 40px;
  margin: 0 auto 30px;
}

.sub-title-text {
  font-size: 20px;
  color: #333;
  line-height: 40px;
  border-bottom: 1px double skyblue;
  font-weight: bold;
  text-align: center;
}

.challenges, 
.comments {
  width: 100%;
  text-align: center;
}
/* /共通 */

/* 下部ボタン */
.transition-btn {
  width: 100%;
  text-align: center;
}

.btn-content {
  margin: 30px auto;
  max-width: 400px;
}

.next-btn {
  background: skyblue;
  border: 2px solid #2daeea;
  padding: 15px 20%;
  text-decoration: none;
  border-radius: 30px;
  color: #333
}

.back-btn {
  background: #aaa;
  border: 2px solid #999;
  padding: 15px 20%;
  text-decoration: none;
  border-radius: 30px;
  color: #333
}

.score-delete-btn, 
.course-delete-btn {
  background: rgb(212, 116, 116);
  border: 2px solid rgb(226, 63, 63);
  padding: 15px 20%;
  text-decoration: none;
  border-radius: 30px;
  color: #333
}

.challenge-btn {
  background: gold;
  border: 2px solid goldenrod;
  padding: 15px 20%;
  text-decoration: none;
  border-radius: 30px;
  color: #333
}

.user-edit-btn {
  background: green;
  border: 2px solid darkgreen;
  padding: 15px 20%;
  text-decoration: none;
  border-radius: 30px;
  color: #333
}

.next-btn:hover, 
.back-btn:hover, 
.score-delete-btn:hover, 
.course-delete-btn:hover, 
.challenge-btn:hover, 
.comment-btn:hover, 
.no-score-btn-sign-in:hover,
.no-score-btn-sign-up:hover,
.no-score-btn-new-score:hover, 
.rank-tab-btn:hover {
  opacity: 0.75;
}
/* /下部ボタン */

/* 画像 */
.score-img-content-show {
  text-align: center;
}

.show-score-img {
  height: 80%;
  width: 80%;
  padding: 20px;
}

.index-score-img:hover {
  opacity: 0.75;
}
/* /画像 */

/* テーブル */
.detail-table {
  margin-bottom: 50px;
  width: 100%;
}

.detail-item {
  width: 30%;
  background-color: skyblue;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 70%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
/* /テーブル */

/* コメント */
.comment-box {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.my-comment {
  text-align: right;
  width: 100%;
  overflow: hidden;
}

.comment-my-nickname {
  float: right;
  margin-left: -40px;
}

.comment-my-text {
  display: inline-block;
  position: relative; 
  margin: 0 55px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #3CCACE;
  font-size: 15px;
}

.comment-my-text:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #3CCACE;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.guests-comment {
  text-align: left;
  width: 100%;
  overflow: hidden;
}

.comment-guests-nickname {
  float: left;
  margin-right: -40px;
}

.comment-guests-text {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 55px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #ddd;
}

.comment-guests-text:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #ddd;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.comment-text {
  width: 80%;
  height: 50px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-btn {
  background-color: #3CCACE;
  border: 1px solid #2daeea;
  color: #fff;
  width: 20%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 100px;
  margin: auto 5px;
}
/* /コメント */

/* フォーム */
.form-contents {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 30px;
}

.indispensable {
  background: #ea352d;
  margin-left: 2px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.form-group {
  margin: 0 auto;
  padding-top: 20px;
}

.select-box {
  padding: 5px 15px 5px 5px;
}

#date, #distance {
  padding-left: 5px;
}

.input-hidden {
  display: none;
}

.click-upload > p {
  font-size: 14px;
  margin-bottom: 5px;
}

.info-text {
  font-size: 12px;
  color: #B00;
}

.max-width {
  width: 100%;
}

.text-box {
  text-align: center;
}

.form-check-box {
  display: flex;
  align-items: center;
}

.input-birth-wrap, 
.form-time {
  display: flex;
}

#profile, 
.input-course-feature {
  padding: 5px;
  width: 100%;
  height: 100px;
}

.unit {
  padding-right: 5px;
}

.answer {
  margin-bottom: 30px;
}

.input-info,
.comment-warn, 
.course-warn {
  font-size: 14px;
  margin-left: 5px;
  text-align: left;
}

#time {
  text-align: right;
}

.challenge-mode-text {
  animation: flash 1.5s linear infinite;
  text-align: center;
  font-size: 20px;
  color: goldenrod;
  font-weight: bold;
  padding-bottom: 3vh;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
/* /フォーム */

/* scores/search */
.list-search {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
}

.search-item {
  padding-top: 20px;
}

#distance-min, 
#distance-max {
  width: 80px;
  text-align: right;
}
/* /scores/search */

/* scores/list, rank */
.list, 
.rank {
  width: 100vw;
}

.list-display {
  margin: 0 auto;
  padding-top: 20px;
}

.list-item-row, 
.rank-item-row {
  height: 50px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.list-value-row, 
.rank-value-row {
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.sort_link {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.sort_link:hover {
  opacity: 0.75;
}

.list-item,
.list-value {
  width: calc(100% / 6);
  text-align: center;
}

.rank-item, 
.rank-value {
  width: calc(100% / 5);
  text-align: center;
}

#list-distance,
#list-time,
#list-lap, 
#rank-distance, 
#rank-time, 
#rank-count {
  text-align: right;
}

.list-result {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}

.result-total-count {
  color: darkblue;
  font-weight: bold;
}

.list-current-user, 
.rank-current-user {
  background: rgba(0, 200, 200, 0.2);
}
.rank-content {
  margin-top: 50px; 
  background-color: #fff;
  margin: 2vh auto;
  width: 80%;
}

.rank-tab-btn {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

input[name="rank-term"] {
  display: none;
}

.rank-select {
  width: 100%;
}

.rank-display {
  width: 100%;
  display: none;
  padding: 1vh 0;
  clear: both;
  overflow: hidden;
}

#rank-year:checked ~ #table-year, 
#rank-month:checked ~ #table-month, 
#rank-week:checked ~ #table-week {
  display: block;
}

.rank-table {
  width: 100%;
}

.rank-content input:checked + .rank-tab-btn {
  background-color: #5ab4bd;
  color: #fff;
}

.rank-value-row:first-child .rank-place-text {
  background: linear-gradient(0deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  padding: 5px 8px;
  border-radius: 50%;
}

.rank-value-row:nth-child(2) .rank-place-text {
  background: linear-gradient(0deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
  padding: 5px 8px;
  border-radius: 50%;
}

.rank-value-row:nth-child(3) .rank-place-text {
  background: linear-gradient(0deg, #6d491a 0%, #956c3c 45%, #c2a990 70%, #956c3c 85%, #6d491a 90% 100%);
  padding: 5px 8px;
  border-radius: 50%;
}

/* /scores/list, rank */

/* user */
.user-score-term, 
.user-score-list {
  padding-bottom: 50px;
}

.user-page-contents {
  padding-top: 20px;
}
/* /user */

/* フッター */
.top-page-footer {
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: lightgray;
  background: linear-gradient(skyblue, blue);
  font-family: sans-serif;
}
/* /フッター */

/* scores/index */
.score-content {
  display: flex;
}

.lists:first-child {
  margin-top: 70px;
}

.score-img-content {
  width: 40%;
  max-width: 240px;
}

.index-score-img {
  width: 100%;
}

.score-info {
  width: 60%;
  max-width: 360px;
}


.index-nickname, 
.table-nickname, 
.comment-nickname, 
.list-nickname, 
.list-score-id, 
.rank-nickname, 
.show-score-id {
  color: #333;
  font-weight: bold;
}

.index-nickname:hover, 
.list-nickname:hover, 
.list-score-id:hover, 
.rank-nickname:hover, 
.list-score-id:hover { 
  opacity: 0.75;
}


.score-info-upper, .score-info-lower {
  display: flex;
  width: 100%;
  height: 100px;
  max-width: 360px;
  align-items: center;
}

.update-time, .score-nickname, .comment-info, .score-distance, .score-time, .score-time-per-km {
  height: 30px;
  width: calc(100% / 3);
  max-width: 120px;
  padding-left: 20px;
}

.update-time {
  color: #777;
}

.no-score {
  width: 100vw;
  height: calc(100vh - 125px);
  background: linear-gradient(to top, rgba(151, 217, 225, 0.8) 0%, rgba(240, 240, 240, 0.8) 100%),url(top-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 70px center;
  text-align: center;
  padding-top: 75px;
  animation: appear 2s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.no-score-content {
  padding: 10vh;
  animation: fade-up 2s;
  opacity: 0;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.no-score-text {
  font-size: 5vw;
  font-weight: bold;
  font-family: 'HiraMinProN-W6';
  color: #666;
}

.no-score-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
  opacity: 0;
  animation: fade-up 2s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }  
  100% {
    opacity: 1;
    transform: translateY(0);
  }  
}  

.no-score-btn-sign-in,
.no-score-btn-sign-up,
.no-score-btn-new-score {
  border-radius: 10px;
  background: skyblue;
  border: 1px solid #2daeea;
  width: 25%;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  line-height: 50px;
  padding: 15px 10vw;
}
/* /scores/index */

/* ページネーション */
.pagination {
  text-align: center;
  margin: 20px 0 30px;
}

.first, .prev, .next, .last, .page {
  border: 1px solid #888;
  padding: 5px;
  border-radius: 5px;
  margin: 0 2px;
}

.pagination > .current {
  background: skyblue;
}

.pagination-btn {
  color: #333;
  text-decoration: none;
}

.pagination-btn:hover {
  opacity: 0.75;
}
/* /ページネーション */